.ev-search {
  position: relative;
  .ev-search-result {
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 1px;
    transform: scaleY(0);
    visibility: hidden;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.25s ease-in-out;
    z-index: 100;

    ul {
      list-style: none;
      padding: 0;

      li {
        padding: 0.5rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
          background-color: #eee;
        }
      }
    }
  }

  &.show {
    .ev-search-result {
      transform: scaleY(1);
      visibility: visible;
    }
  }
}
