# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
.env/
.venv/

# =========================
# Logs
# =========================
*.log
*.log.*

# =========================
# Odoo
# =========================
*.pid
*.conf

# Filestore (MUY importante no subirlo)
filestore/
data_dir/

# Sessions
sessions/

# =========================
# Custom privado
# =========================
ev_tools/private/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db