<!doctype html>
<html charset="utf-8">
  <div>
    <br />
    <p>
      Estimado
      <strong>{{client}}</strong>
    </p>
    <p>Por este medio&nbsp; {{msg}}</p>

    <br />

    <p>
      <strong>Banco:</strong>
      &nbsp;BANREGIO
    </p>
    <p>
      <strong>Cuenta:</strong>
      &nbsp;021048610011
    </p>
    <p><strong>CLABE:</strong>&nbsp;058580210486100116</p>
    <p>
      <strong>Razón Social:</strong>
      &nbsp;PKF MONTERREY S.C.
    </p>
    <p>
      <strong>Rfc:</strong>
      &nbsp;PMO221111S7A
    </p>
  </div>
</html>
