<!doctype html>
<html charset="utf-8">
  <div>
    <br />
    <p>
      Estimado
      <strong> {client}</strong>
    </p>
    <p>Por este medio&nbsp; {msg}</p>

    <br />

    <p>
      <strong>Banco:</strong>
      &nbsp;BANREGIO
    </p>
    <p>
      <strong>Cuenta:</strong>
      &nbsp;021048610011
    </p>
    <p><strong>CLABE:</strong>&nbsp;058580210486100116</p>
    <p>
      <strong>Razón Social:</strong>
      &nbsp;PKF MONTERREY S.C.
    </p>
    <p>
      <strong>Rfc:</strong>
      &nbsp;PMO221111S7A
    </p>
    <br />
    <a
      href="https://maps.app.goo.gl/JrjAnRPg6h5cqXrM9"
      style="font-size: 10px; font-style: italic; color: #9e9e9e"
    >
      Edificio Horizontes, Obispado H02 - Padre Mier No. 1545, Piso 6
    </a>
  </div>
</html>
